$yellow: #eecc75;
$green: #cad297;
$greenLight: #d9e3b7;
$aqua: #b7eac5;
$lightBlue: #a2eee5;
$darkBlue: #8ea2ea;
$red: #f09d9d;
$gray: #e5e5e5;
$grayDark: #b3b3b3;
$pink: #f7bcbc;
$yellowLight: #f9e8b3;
$orange: #f8a083;
$orangeLight: #eeb882;
$violet: #c59aff;
$purple: #a890ff;
$coffee: #a19090;
$coffeeLight: #c2b6b6;
$blue: #5e9cec;
$redLight: #f6a6a6;
