@use "@styles/styles.scss" as *;

.title {
  margin-top: 5rem;
  color: $purple-dark-1;
  font-size: 1.8rem;
  font-weight: $font-weight-title2;
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
}

.category {
  display: flex;
  align-items: center;

  &_colorIcon {
    width: 3rem;
    height: 3rem;
    margin-right: 12px;
    border-radius: 8px;
  }

  &_title {
    color: $purple-dark-2;
    font-size: 1.6rem;
    font-weight: $font-weight-text2;
  }
}

.yellow {
  background-color: $yellow;
}

.green {
  background-color: $green;
}

.lightBlue {
  background-color: $lightBlue;
}

.darkBlue {
  background-color: $darkBlue;
}

.red {
  background-color: $red;
}

.aqua {
  background-color: $aqua;
}
