@use "@styles/styles.scss" as *;

.title {
  margin-top: 5rem;
  color: $purple-dark-1;
  font-size: 1.8rem;
  font-weight: $font-weight-title2;
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
}
