@use "@styles/styles.scss" as *;

.arrow {
  z-index: 2;
  width: 40px;
  height: 40px;
  font-weight: $font-weight-title1;
  cursor: pointer;
}

#arrow__search {
  margin: 20px 0;
  margin-left: -5px;
  color: $purple-dark-1;
}

#arrow__movies {
  position: fixed;
  top: 5%;
  left: 5%;
  color: $purple-light-1;
}

@media only screen and (min-width: 1440px) {
  #arrow__movies {
    position: fixed;
    top: 5%;
    left: calc(50% - 650px);
    color: $purple-light-1;
  }
}
