@use "@styles/styles.scss" as *;

.home {
  width: 100%;
  height: 100%;
  padding: 24px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
