@use "@styles/styles.scss" as *;

.home {
  width: 100%;
  height: 100%;
  padding: 24px;

  &_title {
    margin-bottom: 20px;
    font-size: 3rem;
    color: $purple-dark-2;
    font-weight: $font-weight-title1;
    font-family: $font-family-titles;
  }
}
