.listMovies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  place-items: center;
  grid-gap: 15px;

  margin-top: 24px;

  &_image {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 4px;
  }
}
