@use "@styles/styles.scss" as *;

.carousel {
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 275px;

  margin-top: 2rem;
  gap: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  &_title {
    font-size: 1.8rem;
    font-family: $font-family-titles;
    color: $purple-dark-2;
  }
}

.carousel::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .carousel {
    overflow: inherit;
    overflow-x: inherit;
    max-height: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    place-items: center;
    grid-gap: 15px;
  }
}
