@use "@styles/styles.scss" as *;

.movie {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &_review {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    max-height: 75vh;
    margin-top: -20px;
    padding: 24px;
    background: $purple-light-1;
    border-radius: 20px 20px 0 0;
  }

  &_image {
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.movie_review::-webkit-scrollbar {
  width: 4px;
}

.movie_review::-webkit-scrollbar-thumb {
  background-color: $purple-dark-1;
  border-radius: 10px;
}
