@use '@styles/vars.scss' as *;

.movie__image {
  display: inline-block;
  width: 150px;
  height: 225px;
  margin-right: 16px;
  border-radius: 8px;
  cursor: pointer;
  p {
    color: $purple-light-1;
    font-size: 2.4rem;
    font-weight: $font-weight-title2;
    text-align: center;
  }
}

.movie__image_notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $purple-dark-1;
}

@media only screen and (min-width: 768px) {
  #movie__image_list {
    margin-right: 0px;
  }
}
