@use "@styles/styles.scss" as *;

.movie__image {
  display: inline-block;
  width: 150px;
  height: 225px;
  margin-right: 16px;
  border-radius: 8px;
  cursor: pointer;
  p {
    color: $purple-light-1;
    font-size: 2.4rem;
    font-weight: $font-weight-title2;
    text-align: center;
  }
}

.movie__image_notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e0f64;
}
#movie__image_list {
  margin-right: 0px;
}

@media only screen and (min-width: 768px) {
  .movie__image {
    margin-right: 0px;
  }
}
