@use "@styles/styles.scss" as *;

.searchMovies {
  width: 100%;
  height: 100vh;
  padding: 24px;
  overflow: hidden;
  overflow-y: scroll;
}

.showmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.containerBack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchMovies::-webkit-scrollbar {
  width: 4px;
}
.searchMovies::-webkit-scrollbar-thumb {
  background-color: $purple-dark-1;
  border-radius: 10px;
}
